*{
    margin: 0;
    padding: 0;
   
}
body{
    width: 100%;
    background: linear-gradient(to left,rgb(255, 62, 165), rgb(255, 126, 212),rgb(255, 181, 218),rgb(255, 253, 203));
    background-size: 500% 100%;
    animation: degrade 5s infinite alternate;
    
}
@keyframes degrade{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}
.logo{
    text-align:justify;
    font-size: 1.5rem;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(248, 204, 212);
    box-shadow: 2px 2px 7px rgb(175, 54, 74);
    padding:5px;
}
header{
    display: flex;
    justify-content:space-between;
    height: 10vh;
    background: white;
    padding: 10px;
    box-shadow: 0  0 1.5em rgb(61, 17, 32);
}
h1{
    display: inline; 
    text-align: center;
    padding-top: .5rem;
    padding-left: 15rem;
  

}
ul{
    display: flex;
    margin: 15px;
}
li{
    padding-right: 1rem;
    color: black;
    list-style-type: none;
}
a{
    text-decoration: none; 
}

main{
    margin:10px;
    padding-top: 10px;
}
#title{
  
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 90px;
    text-shadow: 4px 2px 5px rgb(63, 4, 38);
}
#Aboutus{
    margin-top: 25rem;
    margin-right: 45rem;
    margin-left: 35px;
    padding: 30px;
    background-color: white;
    line-height: 1.9rem;
    box-shadow:  5px 5px 9px rgb(99, 97, 97);
    
}
#about{

    text-align: left;
    font-size: 50px;
    padding-bottom: 30px;
}
#para{
    text-align: justify;
}
#Products{
    margin-top: 25rem;
}
